@page
@model SkincareProductSalesSystem.RazorWebApp.Pages.OrderDetailPages.IndexModel
@{
    Layout = "_Layout";
}

<div class="body" style="margin: 2rem;">
    <div class="address-container" style="margin: 1rem;">
        <div class="title">Địa chỉ nhận hàng</div>
        <div class="address">
            Nhật Minh (+84) 984072435
            <span>Số 15, Đường Lô Ồ, Phường Bình An, Thành Phố Dĩ An, Bình Dương</span>
        </div>
    </div>
    <div class="cart-container">
        <div class="cart-container-row">
            <div class="cart-container-cell" style="display: flex; align-items: center;">
            </div>
            <div style="display: flex; align-items: center;">
                Sản Phẩm
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                <div class="cart-item-price">Đơn Giá</div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center;">
                Số Lượng
            </div>
            <div class="cart-item-total" style="display: flex; align-items: center; justify-content: center;">
                Số Tiền
            </div>
            <div style="display: flex; align-items: center; justify-content: center;"></div>
        </div>
    </div>
    <div class="cart-product">
        <div class="cart-container">
            @foreach (var orderDetail in Model.OrderDetails)
            {
                <div class="cart-container-row">
                    <div class="cell" style="display: flex; align-items: center;"></div>
                    <div style="display: flex;">
                        <div class="cell" style="max-width: 25%; justify-content: center; align-items: center; display: flex; padding-right: 10px;">
                            <img src="@orderDetail.Product.ImageUrl" alt="Sản phẩm" style="width: 100%; object-fit: cover;">
                        </div>
                        <div class="cell cart-item-details">
                            <p>@orderDetail.Product.Name</p>
                        </div>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div class="cart-item-price">₫@orderDetail.Product.Price</div>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div>@orderDetail.Quantity</div>
                    </div>
                    <div class="cart-item-total" style="display: flex; align-items: center; justify-content: center;">
                        ₫@(orderDetail.Quantity * orderDetail.Product.Price)
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;"></div>
                </div>
            }
        </div>
    </div>
    <div class="body">
        <div class="address-container" style="margin: 1rem;">
            <div style="display: flex; justify-content: right;">
                <div style="display: grid; grid-template-columns: 50% 50%; width: 20%; max-width: 30%;">
                    <div style="display: flex; justify-content: left;">Tổng tiền hàng</div>
                    <div style="display: flex; justify-content: right;">₫@Model.OrderDetails.Sum(od => od.Quantity * od.Product.Price)</div>
                </div>
            </div>
        </div>
    </div>
</div>