.checkout-container {
    display: grid;
    grid-template-columns: 20% 30% 20% 10% 20%;
    gap: 0px;
    margin-top: 20px;
    margin: 20px auto;
    max-width: 2000px;
    background: white;
    border-radius: 0px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.checkout-container-row {
    display: contents;
}

.address-container {
    margin-top: 20px;
    margin: 20px auto;
    max-width: 2000px;
    background: white;
    border-radius: 0px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .address-container .title {
        padding: 0 0 20px 0;
        font-size: 20px;
    }

    .address-container .address {
        font-weight: 600;
    }

        .address-container .address span {
            padding-left: 30px;
            font-weight: 400;
        }


