@page
@model SkincareProductSalesSystem.RazorWebApp.Pages.Cart.IndexModel
@{
    Layout = "Shared/_Layout";
}
 
@if (Model?.IndextProductCartPage?.ProductCart != null && Model.IndextProductCartPage.ProductCart.Any())
{
    <div class="body" style="margin: 2rem;">
        <div class="cart-container">
            <div class="cart-container-row">
                <div class="cart-container-cell" style="display: flex; align-items: center;">
                    <input type="checkbox">
                </div>
                <div style="display: flex; align-items: center;">
                    Sản Phẩm
                </div>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div class="cart-item-price">Đơn Giá</div>
                </div>
                <div style="display: flex; align-items: center; justify-content: center;">
                    Số Lượng
                </div>
                <div class="cart-item-total" style="display: flex; align-items: center; justify-content: center;">
                    Số Tiền
                </div>
                <div style="display: flex; align-items: center; justify-content: center;">Thao Tác</div>
            </div>
        </div>

        <div class="cart-product">
            <div class="cart-container">
                @foreach (var productCart in Model.IndextProductCartPage.ProductCart)
                {
                <div class="cart-container-row">
                    <div class="cell" style="display: flex; align-items: center;">
                        <input type="checkbox">
                    </div>
                    <div style="display: flex;">
                        <div class="cell" style="max-width: 25%; justify-content: center; align-items: center; display: flex; padding-right: 10px;">
                            <img src="@productCart.ProductInCart.ImageUrl" alt="Sản phẩm" style="width: 100%; object-fit: cover;">
                        </div>
                        <div class="cell cart-item-details">
                            <p>@productCart.ProductInCart.Name</p>
                        </div>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div class="cart-item-price">₫@productCart.ProductInCart.Price</div>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <div class="cart-item-actions">
                            <button onclick="changeValue(-1)">-</button>
                            <input type="number" id="number" value="@productCart.Quantity" min="0" max="10">
                            <button onclick="changeValue(1)">+</button>
                        </div>
                    </div>
                    <div class="cart-item-total" style="display: flex; align-items: center; justify-content: center;">
                        ₫@(productCart.Quantity * productCart.ProductInCart.Price)
                    </div>
                    <div style="display: flex; align-items: center; justify-content: center;">
                        <i class="material-icons">close</i>
                    </div>
                </div>
                }

            </div>
        </div>

        <div class="checkout-button">
            <input type="submit" value="Mua hàng">
        </div>
    </div>
}
else
{
    <div class="cart-container-row">Giỏ hàng của bạn hiện tại trống.</div>
}