@page
@model SkincareProductSalesSystem.RazorWebApp.Pages.AccountPages.ForgotPasswordModel
@{
	ViewData["Title"] = "Quên mật khẩu";
	
}

@section Styles {
	<!-- Page-specific CSS -->
	<link rel="stylesheet" href="~/css/login.css" />
}

<div class="login-page">
	<div class="form">
		<form class="login-form" asp-page-handler="OnPost">
			<div class="header">Reset Password</div>
			<br />

			<p class="input_label">Username</p>
			<input type="text" placeholder="" asp-for="Username" />
			<span id="validation-err" asp-validation-for="Username"></span>

			@if (!string.IsNullOrEmpty(Model.ErrorMessage))
			{
				<div class="alert alert-danger">@Model.ErrorMessage</div>
			}
			<button asp-page-handler="OnPost">Send Code</button>
			<p class="message">Not registered? <a href="../AccountPages/Register">Create an account</a></p>
			<p class="message">Remembered your password? <a href="../AccountPages/Login">Sign In</a></p>
		</form>
	</div>
</div>

