@page
@model SkincareProductSalesSystem.RazorWebApp.Pages.AccountPages.ResetPasswordModel
@{
	ViewData["Title"] = "Đặt lại mật khẩu";
}

@section Styles {
	<!-- Page-specific CSS -->
	<link rel="stylesheet" href="~/css/login.css" />
}
<div class="login-page">
	<div class="form">
		<form asp-page-handler="OnPost">
			<div class="header">Reset Password</div>
			<br />

			
				<p class="input_label">New Password</p>
				<input type="password" placeholder="" asp-for="ResetPasswordRequest.NewPassword" />
				<span id="validation-err" asp-validation-for="ResetPasswordRequest.NewPassword"></span>
			
				<p class="input_label">Code</p>
				<input placeholder="" asp-for="ResetPasswordRequest.Key" />
				<span id="validation-err" asp-validation-for="ResetPasswordRequest.Key"></span>

			@if (!string.IsNullOrEmpty(Model.ErrorMessage))
			{
				<div class="alert alert-danger">@Model.ErrorMessage</div>
			}

			<button asp-page-handler="OnPost">Submit</button>
		
		<br />
		<p class="message">Not registered? <a href="../AccountPages/Register">Create an account</a></p>
		<p class="message">Remembered your password? <a href="../AccountPages/Login">Sign In</a></p>
		</form>
	</div>
</div>



